pre {
  padding: 20px;
  background-color: #d3d3d3;
}

code {
  font-size: 14px;
}

.example__image {
  width: 100%;
  align-self: center;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.example__codetext {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}
