.self-education__link {
  text-decoration: none;
  color: inherit;
}

.self-education__link:hover {
  color: #747474;
}

.self-education__badge {
  display: block;
  width: 250px;

  @media (min-width: 767px) {
    width: 400px;
  }
}

.self-education__year {
  margin: 0;
}

.self-education__item:not(:last-child) {
  margin-bottom: 15px;
}
