.main-info__avatar-container {
  width: 200px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.main-info__avatar {
  border-radius: 10px;
}

.main-info__full-name {
  margin: 0;
  margin-bottom: 5px;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 32px;
  }
}

.main-info__specialization {
  margin: 0;
  margin-bottom: 30px;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}
