@font-face {
  font-family: "Sora";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Sora-Regular.woff2") format("woff2"), url("fonts/Sora-Regular.woff") format("woff");
}

@font-face {
  font-family: "Sora";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/Sora-Bold.woff2") format("woff2"), url("fonts/Sora-Bold.woff") format("woff");
}
